@import url("../agenda.php");
@import url("../cadastro.php");
@import url("../includes/header.php");

body {
    background-color: #f0f0f0;
    font-family: sans-serif;
}

form {
    width: 400px;
    margin: auto;
    padding-top: 40px;
}

.caixa {
    text-align: center;
}

.caixa-grup {
    margin-bottom: 5px;
}

.caixa-grup > label {
    width: 100%;
    color: rgb(75, 75, 75);
    display: block;
}

.caixa-grup > input {
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 30px;
    padding: 5px;
}

.caixa-grup >button {
    background-color: #dc3545;
    width: 100%;
    border-radius: 25px;
    padding: 15px;
    color: white;
    border: 0px;
    outline: 0px;
}

.caixa-pesquisa {
    display: flex;
    
}

.btn button:hover {
    background-color: blue;
}

.list-group-item {
    outline: 0px;
}

.app {
	margin-top: 25px;
}

.table-bg {
    background: rgba(red, green, blue, 0.5);
}
