

body {
    background-color: #f0f0f0;
    font-family: sans-serif;
}

form {
    width: 400px;
    margin: auto;
    padding-top: 40px;
}

.caixa {
    text-align: center;
}

.caixa-grup {
    margin-bottom: 5px;
}

.caixa-grup > label {
    width: 100%;
    color: rgb(75, 75, 75);
    display: block;
}

.caixa-grup > input {
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 30px;
    padding: 5px;
}

.caixa-grup .sel {
    display: block;
    border-radius: 5px;
    width: 50%;
    height: 30px;
    outline: 0;
    padding: 0.375rem 0.75rem;
}   

.caixa-grup >button {
    background-color: #dc3545;
    width: 100%;
    border-radius: 25px;
    padding: 15px;
    color: white;
    border: 0px;
    outline: 0px;
}

.form-control {
    display: block;
    width: 50%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.caixa-pesquisa {
    display: flex;
    
}

.btn button:hover {
    background-color: blue;
}

.list-group-item {
    outline: 0px;
}

.app {
	margin-top: 25px;
}

.table-bg {
    background: rgba(red, green, blue, 0.5);
}
